@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes fromUp {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.palettes {
    color: #18293b;
    color: #0078E3;
    color: #4ADEDE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #293C50;
    color: white;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #0078E3;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Poppins';
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0px 2px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 26px;
    font-weight: 300;
    padding: 8px 10px;
    border-radius: 5px;
    animation: fromUp 0.3s;
    font-family: 'Barlow Condensed', sans-serif;
}

nav ul li a.active,
nav ul li a:hover {
    color: #293C50;
    background: #fff;
}

nav ul li a.active {
    font-weight: 500;
    font-style: italic;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.content {
    text-align: center;
    width: 100%;
    padding: 30px;
    color: white;
    min-height: calc(100vh - 150px);
}

footer {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

@media (max-width: 1300px) {
    nav ul li a {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    nav {
        padding: 0 40px 0 50px;
    }
    nav .logo {
        font-size: 40px;
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #293C50;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 32px;
        transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active {
        background: none;
        color: #4ADEDE;
        font-size: 50px;
        font-weight: 600;
    }
    nav ul li a:hover {
        background: none;
        color: #4ADEDE;
        font-size: 40px;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }
    footer {
        font-size: 10px;
    }
}