.overflow {
    overflow-x: auto;
}

.middle {
    margin: 10px 0px;
    padding: 20px;
    color: black;
    background-color: white;
    text-align: left;
    transition: max-height 0.2s ease-out;
}

.middle {
    background-color: #0078e3;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    padding: 20px;
}

.middle p {
    padding: 0px 5px;
    margin: 15px 0px;
}

.middle i {
    margin-right: 10px;
    color: #0078e3;
}

.title {
    width: 96%;
    margin: 10px auto;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 5px solid white;
    border-left: 5px solid white;
}

table {
    min-width: 200px;
    overflow-x: auto;
    font-size: 1.4rem;
    width: 90%;
    margin: 20px auto;
    border: solid 2px black;
}

td,
th {
    padding: 0.4em;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

tr td:nth-child(1) {
    width: 15%;
}

tr td:nth-child(2) {
    width: 35%;
}

tr td:nth-child(3) {
    width: 15%;
}

tr td:nth-child(4) {
    width: 35%;
}

caption {
    font-size: 1.4em;
}

td:nth-child(2n + 1) {
    background-color: #ddd;
}

.portrait-render {
    display: none;
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

@media (max-width: 720px) {
    .middle p {
        padding: 0px;
        margin: 20px 0px;
    }
    .middle i {
        margin-right: 10px;
    }
    table {
        width: 100%;
    }
}

@media screen and (orientation: portrait) {
    .portrait-render {
        display: block;
    }
}