.courses_wrapper {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.course_title {
    position: relative;
    background: white;
    width: 70%;
    color: #333;
    overflow: hidden;
    padding-right: 20px;
}

.course_title>h2 {
    padding: 15px;
    text-align: left;
    padding-left: 20px;
}

i {
    font-size: 15px;
    margin-right: 5px;
}

.labels {
    margin-top: -30px;
    border: 3px solid #ccc;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 70%;
}

.cs,
.sc,
.is,
.sys {
    width: 40px;
    height: 68px;
    transform: skewX(-25deg);
    float: right;
}

.cs {
    background-color: #ea2027;
}

.sc {
    background-color: #78d237;
}

.is {
    background-color: #ffd246;
}

.sys {
    background-color: #2d73f5;
}

@media (max-width: 1000px) {
    .labels {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .labels {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .course_title {
        width: 90%;
    }
}