.content {
    animation: fromUp 1.2s;
}

#wlcm {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.announcement {
    background: #0078E3;
    margin: 1.5% 5%;
    padding: 15px;
    border-radius: 15px;
    font-size: 30px;
    border: 7px solid white;
}

.announcement a {
    color: white;
}

#os {
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
    width: 15%;
}

@media (max-width: 600px) {
    #wlcm {
        font-size: 40px;
    }
    .announcement {
        font-size: 18px;
        border: 4px solid white;
    }
    #thrd {
        font-size: 18px;
    }
    #os {
        width: 50%;
    }
}